@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';

.transition-group {
  flex: 1;
  min-height: 600px;
  position: relative;
}

.router {
  width: 100%;
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page {
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*
  color: white;
  font-size: 100px;*/
  text-align: center;
  font-style: italic;
  font-family: Times;
  padding-top: 20px;
}

.fade-exit .page {
  opacity: 1;
  z-index: 2;
}
.fade-exit.fade-exit-active .page {
  opacity: 0;
  transition: opacity 450ms ease-out;
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 450ms ease-in;
}


.cardchat.card-content {
  padding: 4px;
  border-radius: 0 0 2px 2px;
}
.cardchat.card-panel {
  padding: 4px;
}
.cardchat .card{
  margin:0;
}
.bar2Buffer {
  transition: transform 0.4s linear;
}
.barcolorPrimary {
  background-color: rgba(108, 212, 170, 0.4);
}
.barColorSecondary {
  background-color: rgb(201, 206, 234);
}
.bar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.dashed {
  position: absolute;
  margin-top: 0;
  height: 100%;
  width: 100%;
  animation: buffer 3s infinite linear;
}
.notFocusField {
  width: 40%;
  opacity: 0.5;
}

/* Styles applied to the additional bar element if `variant="buffer"` & `color="primary"`. */
.dashedColorPrimary {
  background-image: radial-gradient(
    rgb(201, 206, 234) 0%,
    rgb(201, 206, 234) 16%,
    transparent 42%
  );
  background-size: 10px 10px;
  background-position: 0px -23px;
}
/* Styles applied to the additional bar element if `variant="buffer"` & `color="secondary"`.
`radial-gradient(${lighten(theme.palette.secondary.light; 0.4)} 0%; ${lighten(
    theme.palette.secondary.light;
    0.6;
  )} 16%; transparent 42%)`;
   */
.dashedColorSecondary {
  background-image: radial-gradient(
    rgb(201, 206, 234) 0%,
    rgb(201, 206, 234) 16%,
    transparent 42%
  );
  background-size: 10px 10px;
  background-position: 0px -23px;
}

.headerchat {
  text-align: center;
  background-color: $md-primary-color;
  margin: 0;
}
.page {
  font-style: italic;
  font-family: Times;
}
.paperOut {
  margin: 10px;
}
.containerchat {
  background: rgb(246, 246, 246);
  width: 600px;
  position: fixed;
  z-index: 1111;
  right: 0;
  bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0, 0, 0, 0.05);
}

html {
  box-sizing: border-box;
}


input {
  height: 40px!important;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.white {
  color: white;
}
.post {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 350px;
  flex: 0 0 350px;
}
.tac {
  text-align: center;
}


.width50Perc {
  width: 50%;
}
.width100Perc {
  width: 100%;
}
.cursor {
  cursor: pointer;
}

.post .description {
  flex: 1;
  padding-left: 25px;
  font-size: 25px;
}

.detail {
  width: 600px;
  height: 600px;
  flex: 0 0 600px;
}

.detail .description {
  flex: 1;
  padding-left: 40px;
  font-size: 38px;
}

.title {
  font-size: 42px;
}

.content {
  font-size: 18px;
}

.new-post {
  background-color: rgba(0, 0, 0, 0.04);
}

.close {
  opacity: 0.5;
  margin-top: 60px;
  margin-right: 60px;
}

.close img {
  width: 20px;
  height: 20px;
}


.crop{
  height: 150px;
  width: 200px;
  overflow: hidden;
}
.crop img{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateY(-50%); /* IE 9 */
  transform: translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
}



.menuButton {
  margin-left: -12;
  margin-right: 20;
}

/* heder */
.flexGrow {
  flex-grow:1;
}
.flex {
  flex:1;
}
/* heder */


.paperIn {
  padding: 20px;
}
.paperOut {
  margin: 10px;

}



/* signup */
.wrapperAnimate{
  transition: width .25s linear;
}
.focusField {
  width: 70%;
}
.notFocusField {
  width: 40%;
  opacity: 0.5;
}
/* signup */
